//blue
$color-palette-blue-1: #0071bc;
$color-palette-blue-2: #004691;
$color-palette-blue-3: #29abe2;
$color-palette-blue-4: #174F87;
$color-palette-blue-5: #0020a3;
$color-palette-blue-6: #072038;

//gray
$color-palette-gray-1: #808080;
$color-palette-gray-2: #e9ecef;
$color-palette-gray-3: #999999;
$color-palette-gray-4: #525252;
$color-palette-gray-5: rgba(0, 0, 0, 0.125);
$color-palette-gray-6: #f4f6f7;

//orange
$color-palette-orange-1: #f15a24;

//green
$color-palette-green-1: #8cc63f;
$color-palette-green-2: #22b573;

//red
$color-palette-red-1: #ed1c24;

//white
$color-palette-white-1: #ffffff;

//black
$color-palette-black-1: #000000;
