$spacing-vertical-xm: 0.75vh;
$spacing-vertical-sm: 1vh;
$spacing-vertical-md: 2vh;
$spacing-vertical-lg: 3vh;
$spacing-vertical-xl: 5vh;
$spacing-vertical-default: 2vh;

$spacing-horizontal-xm: 0.25vw;
$spacing-horizontal-sm: 0.75vw;
$spacing-horizontal-md: 1vw;
$spacing-horizontal-lg: 1.25vw;
$spacing-horizontal-xl: 1.5vw;
$spacing-horizontal-default: 1vw;