@import "../../../../layouts/home-page-layout/styles/page-header.scss";

#resume-number {
  text-align: center;
  margin-bottom: $spacing-vertical-xl;

  .info-number {
    font-size: $font-size-xl * 2;
  }
}
