@import "../../../sass/tool-box";

$top-right-menu-top: 2vh;

ul#top-right-menu {
  width: 5em;
  position: fixed;
  top: $spacing-vertical-default;
  right: $spacing-horizontal-default;
  z-index: 2;
  @extend %helper-list-style-none;

  li {
    display: inline;
    margin-left: $spacing-horizontal-default;
  }
}

i.top-right-menu-icon {
  font-size: 1.4em;
  cursor: pointer;
}

nav.top-right-menu {
  min-height: 25vh;
  right: $spacing-horizontal-default;
  top: $top-right-menu-top;

  background-color: $color-palette-white-1;
  color: $color-palette-black-1;
  border: $border-default;

  position: fixed;
  z-index: 3;

  @extend %helper-padding-default;

  .close {
    font-size: $font-size-lg;
    right: $spacing-horizontal-default * 2;
    position: fixed;
    cursor: pointer;
  }

  .header-title {
    h1 {
      font-size: $font-size-md;
      font-weight: bold;
      text-align: left;

      i {
        margin-right: 5px;
        font-weight: bold;
        font-size: $font-size-lg;
      }
    }

    h2 {
      font-size: $font-size-sm;
      font-weight: normal;
      text-align: left;
    }
  }

  .header {
    img {
      border-radius: 50%;

      margin-top: $spacing-vertical-default;
      margin-bottom: $spacing-vertical-default;

      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-size: $font-size-md;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      font-size: $font-size-sm;
      font-weight: normal;
      text-align: center;
    }
  }

  .items {
    width: 100%;
    margin-top: $spacing-vertical-default;
    padding-top: $spacing-vertical-default;
    border-top: $border-default;
    @extend %helper-list-style-none;

    li {
      padding: $spacing-vertical-sm;
      padding-left: $spacing-horizontal-default;
      font-size: $font-size-md;
      text-align: left;

      &:hover {
        border-radius: $border-radius-default;
        background-color: $color-palette-blue-4;
        color: $color-palette-white-1;
      }

      i {
        width: $font-size-xl;
      }

      a {
        @extend %helper-link-decoration-none;
      }
    }
  }
}

//Desktop
@media (min-width: $responsive-layout-medium) {
  $top-right-menu-width: 17vw;

  nav.top-right-menu {
    width: $top-right-menu-width;
  }

  .header {
    $size-img: $top-right-menu-width * 0.5;

    img {
      width: $size-img;
      height: $size-img;
    }
  }
}

//Mobile
@media (max-width: $responsive-layout-medium) {
  $top-right-menu-width: 35vw;

  nav.top-right-menu {
    width: $top-right-menu-width;
  }

  .header {
    $size-img: $top-right-menu-width * 0.5;

    img {
      width: $size-img;
      height: $size-img;
    }
  }
}
